<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Clientes</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Nome completo</th>
            <th>E-mail</th>
            <th>Gênero</th>
            <th>Endereço</th>
            <th>CEP</th>
            <th>Ações</th>
        </tr>
        <tr th:each="cliente: ${clientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nome}"></td>
            <td>
                <a th:href="'mailto:'+${cliente.email}" th:text="${cliente.email}"></a>
            </td>
            <td th:text="${cliente.genero}"></td>
            <td th:text="${cliente.endereco}"></td>
            <td th:text="${cliente.cep}"></td>
            <td>
                <a th:href="@{/clientes/editar/{id}(id=${cliente.id})}">Editar</a>
                <a th:href="@{/clientes/remover/{id}(id=${cliente.id})}">Remover</a>
            </td>
        </tr>
    </table>
</body>

</html>