<!DOCTYPE html>
<html lang="pt_br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta codigoSemana2="1569331148">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>PWeb - Júlio Gomes</title>
</head>

<body>
	<ul>
		<li><a href="/">Início</a></li>
		<hr>
		<li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
		<li><a href="/listarPessoas">Listar pessoas</a></li>
		<hr>
		<li><a href="/public/noticias.html">Canais de notícias</a></li>
		<li><a href="/public/sobre.html">Sobre o site</a></li>
		<li><a href="/public/contato.html">Mande um e-Mail</a></li>
	</ul>

	<div style="margin-left:25%;padding:1px 16px;height:1000px;">

		<h1>Formulário para edição de pessoas:</h1>
		<form method="POST" th:object="${pessoa}" th:action="@{/editar/{id}(id=${pessoa.id})}">
			<p>
				Nome completo *: 
				<input type="text" th:field="*{nome}" placeholder="Seu nome completo" required>
			</p>
			</p>
				Data de nascimento *: 
				<input type="date" th:field="*{dataNascimento}" placeholder="dd/mm/aaaa" required>
			</p>
			<p>
				e-Mail *: 
				<input type="text" th:field="*{email}" placeholder="nome@dominio.com" required>
			<p>
				Gênero*: 
			</p>
			<p>
				<input type="radio" name="genero" th:field="*{genero}" value="masculino" required>Masculino
			</p>
			<p>
				<input type="radio" name="genero" th:field="*{genero}" value="feminino" required>Feminino
			</p>
			<p>
				<input type="radio" name="genero" th:field="*{genero}" value="nao-informar" required>Não informar
			</p>
			<button class="button" type="reset">Limpar</button>
			<button class="button" type="submit">Editar!</button>
		</form>
		<p>* Campo Obrigatório</p>
</body>

</html>
