<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/headtags"></head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h1 class="mb-3 mt-3">Editar Produto</h1>
        <form class="form" method="POST" th:object="${produto}" th:action="@{/produtos/editar/{id}(id=${produto.id})}">
            <div class="form-group">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="">Nome</label>
                        <input type="text" th:field="*{nome}" class="form-control" placeholder="Produto tal" required />
                    </div>
                    <div class="col-md-6">
                        <label for="">Marca</label>
                        <input type="text" th:field="*{marca}" class="form-control" placeholder="sei lá" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="">Altura</label>
                        <input type="text" th:field="*{altura}" class="form-control" placeholder="232.3cm" required />
                    </div>
                    <div class="col-md-3">
                        <label for="">Largura</label>
                        <input type="text" th:field="*{largura}" class="form-control" placeholder="12.5cm" required />
                    </div>
                    <div class="col-md-3">
                        <label for="">Profundidade</label>
                        <input type="text" th:field="*{profundidade}" class="form-control" placeholder="2cm" required />
                    </div>
                    <div class="col-md-3">
                        <label for="">Peso</label>
                        <input type="text" th:field="*{peso}" class="form-control" placeholder="2cm" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="">Preço</label>
                        <input type="text" th:field="*{preco}" class="form-control" placeholder="R$ 100,00" required />
                    </div>
                </div>

            </div>
            <hr>
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger mr-3" type="reset">Limpar</button>
                <button class="btn btn-primary" type="submit">Atualizar!</button>
            </div>
        </form>
    </div>

    <div th:replace="fragments/footer"></div>


</body>

</html>